@import '../../styles/mixins';
@import '../../styles/colors';

:root {
  --color-code: rgb(248 248 255) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-code: rgb(43, 43, 43) !important;
  }
}

.notion-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    background-color: var(--color-bg-default);
    color: var(--color-text-default);
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .notion-table-of-contents {
      background-color: var(--color-bg-default);
      color: var(--color-text-default);
      fill: var(--color-table-of-contents);
      display: flex;
      flex-direction: column;
      min-width: 200px;
      margin-top: 10px;
      @media (min-width: 768px) {
        margin-top: 80px
      }
    }

    .page-content {
      background-color: var(--color-bg-default);
      color: var(--color-text-default);
    }

    .notion-table-of-contents > * + * {
      margin-top: 0.5rem;
    }

    .notion-block-list {

    }
  }

}

.notion-page {
  @include scrollbar
}

.notion-embed {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  height: 320px;

  iframe {
    border: none;
    width: 100%;

    &:hover {
      border: 1px solid $primary-100;
    }
  }
}

.notion-icon {
  font-size: 1em !important;
}

.notion-page-title {
  font-size: 2.5em !important;
}


h1.notion-heading-1,
.notion-heading-1 h1 {
  font-size: 1.25em !important;
}

h2.notion-heading-2,
.notion-heading-2 h2 {
  font-size: 1em !important;
}

h3.notion-heading-3,
.notion-heading-3 h3 {
  font-size: 0.75em !important;
}

p {
  font-size: 0.75em !important;
}

.notion-table-block-row:first-child, .notion-table-block-row:first-child th {
  background-color: rgb(237, 243, 236);
}

blockquote {
  font-size: 1em !important;
}

.notion-link-preview-cover img {
  object-fit: contain;
}

.notion-column-list {
  flex-direction: column-reverse;
}

.notion-code {
  background-color: var(--color-code);

  &-body {
    pre {
      background-color: var(--color-code);
    }
  }
}
